#whole-template {
    display: none;
}

#cv-template-1 {
    border: 2px solid black;
    max-height: 95%;
    /* width: 65%; */
    display: inline-block;
    background-color: blueviolet;
    overflow-y: visible;
}

.myimg {
    border-radius: 50%;
    width: 200px;
}

.background {
    background-color: beige;
}

.btnGroup {
    background-color: blue;
}

.margin-left {
    margin-right: 20;
}

.img-inp {
    width: 300px;
    height: 100px;
}

.tmp-1 {
    background-color: aquamarine;
}

.tmp-2 {
    background-color: rgb(126, 175, 47);
}

.tmp-3 {
    background-color: rgb(234, 119, 77);
}

.flex {
    display: flex;
}

.static {
    position: absolute;
    bottom: 0;
    margin: 2px;
}

.left {
    left: 45%
}

.draggable {
    /* width: auto; */
    max-width: 30%;
    max-height: 10%;
}

.w3-quarter {
    border: 2px solid black;
    border-radius: 2px;
}

.y-15 {
    margin-top: 50px;
}

.landing {
    margin-bottom: 100px;
    overflow-x: auto;
    max-width: 95%;
}

.temp-img {
    margin: 2px;
}
